.invoice_lang{
    font-weight: bold !important;
    margin-top: -10px;
    /* text-transform: uppercase; */
}
.info_text{
    text-transform: uppercase;
}
.info_position{
    text-align: left;
}
.table_tr{
    border-bottom: 2px solid;
}
.option_button{
    margin-top: 20px;
}

@page {
  
    margin: 0;  /* this affects the margin in the printer settings */
    border: 0;
  border: none !important;
}
.text_pos{
    float: right;
    text-align: right !important;
}